<!DOCTYPE html>
<html lang="en">
    {% extends "base.html" %}
    {% block headx %}
    {% block title %}Thêm mới khách hàng{% endblock title %}
    {% endblock headx %}
   <body>
        {% block content %}
     <div class="container-fluid">
          <div class="row">
              <div class="col">
                  <h3 class="lk_title">Thêm mới khách hàng</h3>
              </div>
         </div>
      <hr/>
     
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
    <div class="row">
      <div class="col">
          <form class="form_lk" action = "{{ request.path }}" method = "post">
         <label for = "name">Tên khách hàng</label><br>
         <input type = "text" name = "name" placeholder = "Nguyễn Văn A" /><br>
         <label for = "email">Số điện thoại</label><br>
         <input type = "text" name = "sdt" placeholder = "0123 456 789" /><br>
         <label for = "addr">Số sản phẩm</label><br>
         <input type = "text" name = "sosp" placeholder = "Đã mua x sản phẩm" /><br>
         <!--<textarea name = "addr" placeholder = "addr"></textarea><br>-->
         <!--<label for = "PIN">City</label><br>-->
         <!--<input type = "text" name = "pin" placeholder = "pin" /><br>-->
         <input class="sb_btn" type = "submit" value = "Thêm Mới" />
      </form>
      </div>
          </div>
     </div>
     {% endblock %}
   </body>
</html>
