<!DOCTYPE html>
<html lang = "en">
   <head>
       <title> Luxuryfan - Mua quạt trần Mỹ, Vi vu Hoa Kỳ</title>
       <link rel="stylesheet/less" href="{{ url_for('static', filename='css/master.less') }}">
       <script src="{{ url_for('static', filename='js/less.min.js') }}"></script>
       <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
   </head>
   
   <body>
      <h3>
         <h3>Nhập dữ liệu khách hàng</h3>
      </h3>

      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}

      <h3>Danh sách khách hàng (<a href = "{{ url_for('new') }}">Thêm Mới
         </a>)</h3>

      <table>
         <thead>
            <tr>
               <th>ID</th>
               <th>Tên khách hàng</th>
               <th>Số điện thoại</th>
               <th>Số sản phẩm</th>
               <th>Mã dự thưởng</th>
               <th>Thời gian tham gia</th>
            </tr>
         </thead>

         <tbody>
            {% for data in datax %}
               <tr>
                  <td>{{ data.id }}</td>
                  <td>{{ data.tenkh }}</td>
                  <td>{{ data.sdt }}</td>
                  <td>{{ data.sosp }}</td>
                  <td>{{ data.code }}</td>
                  <td>{{ data.time }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

   </body>
</html>